<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{|/article/modify/${article.id}|}" method="post">
        <div>
            <label for="subject" th:text="제목"></label>
            <input type="text" name="subject" id="subject" th:field="${article.subject}">
        </div>
        <div>
            <label for="content" th:text="내용"></label>
            <textarea name="content" id="content" rows="10" th:field="${article.content}"></textarea>
        </div>
        <input type="submit" value="수정하기">
    </form>
</div>
</html>